<!DOCTYPE html>
{% extends 'MyApps1/base.html'%}
{%block body_block%}
    <h1>Student Information List</h1>
    <hr />
    <table border='2'>
        <thead>
            <th>SNo</th>
            <th>SName</th>
            <th>Course</th>
            <th>Marks</th>
            <th colspan="3">Operations</th>
        </thead>
        {%for student in student_list%}
        <tr>
            <td>{{student.sno}}</td>
            <td>{{student.sname|title}}</td>
            <td>{{student.course|title}}</td>
            <td>{{student.marks|title}}</td>
            <td><a href="/detail/{{student.id}}">Details</a></td>
            <td><a href="/update/{{student.id}}">Update</a></td>
            <td><a href="/delete/{{student.id}}">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
    <br /><br /><br />
    <a href="/create">CLICK-HERE to Insert New-Student-Record!!</a>
{%endblock%}
